.whiteColor
{
    color: white;
}

#mode
{
    padding-bottom: 2%;
}

#PresentationPage h1
{
    font-size: 120px;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 2%;
}

#PresentationPage h2
{
    font-size: 80px;
    font-weight: thin;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 20%;
}

#EducationPage
{
    font-weight: thin;
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    text-align: end;
    font-weight: bold;
    padding-right: 10%;
    padding-bottom: 20%;
}

#EducationPageSection h5
{
    padding-top: 50%;
    font-size: 30px;
    color: #57ffdc;
}

#EducationPage h3
{
    font-size: 100px;
}

#EducationPageSection
{
    display: flex;
    justify-content: space-evenly;
}

#EducationPageSect h5
{
    padding-top: 50%;
    padding-right: 20%;
    font-size: 30px;
    color: #57ffdc;
}

#EducationPageSect
{
    display: flex;
    justify-content: space-around;
}

.EducationPageBorder
{
    margin-left: 10%;
}

#EducationPageSect p
{
    width: 400px;
    height: 300px;

    display: flex;
    text-align: start;
    
    font-size: 30px;
    padding-top: 8%;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
}

#WorkExperience section
{
    padding-bottom: 8%;
    display: flex;
    justify-content: space-around;
}

#WorkExperience h3
{
    text-align: start;
    font-size: 100px;
    padding-top: 45%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#WorkExperienceSpace
{
    width: 150px;
}

#WorkExperience ol ol
{
    width: 500px;
    text-align: start;
    float: right;
}

#workExperienceText li
{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 2%;
}

#workExperienceText p
{
    font-size: 28px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    width: 500px;
}

#workExperienceText p:not(:last-child)
{
    margin-bottom: 13%;
}

#workExperienceImage ul
{
    height: 150px;
    width: 150px;
    margin-left: 40%;
    border-radius: 50%;
}

#workExperienceImage ul:not(:last-child)
{
    margin-bottom: 10%;
}

#SkillsAbilities section
{
    padding-bottom: 5%;
    display: flex;
    justify-content: space-around;
}

#SkillsAbilities h3
{
    text-align: end;
    font-size: 100px;
    padding-top: 50%;
    padding-bottom: 5%;
    padding-right: 10%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#SkillsAbilitiesText li
{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 4%;
    padding-left: 10%;
}

#SkillsAbilitiesText p:not(:last-child)
{
    margin-bottom: 20%;
}

#SkillsAbilitiesText p
{
    padding-top: 1%;
    padding-left: 10%;
    font-size: 28px;
    font-weight: lighter;
    font-family: 'Roboto', sans-serif;
    width: 75%;
}

#SkillsAbilitiesText ul:not(:last-child)
{
    padding-bottom: 50%;
}

#SkillsAbilitiesImage ul
{
    height: 150px;
    width: 150px;

    border-radius: 50%;
}

#SkillsAbilitiesImage ul:not(:last-child)
{
    margin-bottom: 30%;
}

#GamesProject
{
    padding-bottom: 5%;
}

#GamesProject img
{
    padding: 5%;
    padding-left: 10%;
    width: 65%;
}

#GamesProject h3
{
    text-align: start;
    font-size: 100px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#WorkTogether h3
{
    text-align: start;
    font-size: 100px;
    padding-top: 45%;
    padding-left: 20%;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

#WorkTogether section
{
    display: flex;
    justify-content: space-around;
}

#WorkTogetherText ol ul
{
    width: 500px;
    text-align: start;
    float: right;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    padding-top: 8%;
}

#WorktogetherSpace
{
    width: 100px;
}

#WorkTogetherImage ul
{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#WorkTogetherText ol p
{
    font-weight: lighter;
    font-size: 30px;
    padding-top: 15%;
}

#WorkTogetherText ol p:not(:last-child)
{
    padding-bottom: 15%;
}

#WorkTogetherImage ul:not(:last-child)
{
    margin-bottom: 20%;
}

button
{
    height: 50px;
    width: 150px;
    background-color: lightgrey;
}

.images
{
    height: 75px;
    position: relative;
    top: 25%;
    left: 25%;
}

.blueColor
{
    background-color: #00AB8E;
}

.otherBlueColor
{
    background-color: #0086D9;
}

ol
{
    list-style: none;
}

li
{
    color: #57ffdc;
}

ul
{
    color: #57ffdc;
}

h2
{
    color: #57ffdc;

}

.animationDown
{
    animation: droppedText 0.8s ease-out;
}

.animationLeftToRight
{
    animation: animationLeft 0.8s ease-out;
}

body
{
    background-color: black;
    padding: 2% 0% 5% 5%;
}

#CircleMenu
{
    background-color: #57ffdc;
    height: 50px;
    width: 50px;
    line-height: 50px;
    border-radius: 50%;
    text-align: center;
    color: black;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

@media(max-width: 2000px)
{
    #GamesProject img
    {
        padding: 5%;
    }
}

@media(max-width: 1500px)
{
    #WorkExperience h3
    {
        padding-top: 60%;
    }
    
    #WorkTogetherImage ul, #workExperienceImage ul
    {
        height: 0px;
        width: 0px;
        margin-left: 0%;
        border-radius: 0%;
        visibility: hidden;
    }

    #EducationPage h3
    {
        animation: none !important;
    }

    #WorkExperience h3
    {
        animation: none !important;
    }

    #EducationPageSect
    {
        animation: none !important;
    }

    #GamesProject img
    {
        padding-left: 0%;
        width: 1000px;
    }
}

@media(max-width: 1000px)
{

    #SkillsAbilities h3, #WorkExperience h3
    {
        font-size: 50px;
    }

    #EducationPage h3
    {
        font-size: 50px;
        animation: none !important;
    }

    #WorkExperience h3
    {
        padding-top: 130%;
        animation: none !important;
    }

    #EducationPageSect
    {
        animation: none !important;
    }

    #workExperienceImage ul
    {
        height: 0px;
        width: 0px;
        margin-left: 0%;
        border-radius: 0%;
        visibility: hidden;
    }

    #SkillsAbilities h3
    {
        padding-right: 40%;
        padding-top: 140%;
    }

    #GamesProject h3
    {
        font-size: 50px;;
    }

    #WorkTogether h3
    {
        font-size: 50px;
        padding-top: 100%;
        padding-left: 50%;

    }

    #SkillsAbilitiesImage ul
    {
        height: 150px;
        width: 150px;
        margin-bottom: 30%;
        border-radius: 50%;
    }

    #GamesProject img
    {
        width: 700px;
        padding-left: 10%;
    }
}

@keyframes droppedText 
{
    from
    {
        opacity: 0;
        transform: translateY(-100px);
    }
    to
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes animationLeft 
{
    from
    {
        opacity: 0;
        transform: translateX(-100px);
    }
    to
    {
        opacity: 1;
        transform: translateX(0px);
    }
}