$background_color_gradient : #280E2F, #121345;
$text_color : #FFFFFF;
$pacman : #FFC300;

h1, p
{
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
}

body
{
    background: linear-gradient(0.25turn, $background_color_gradient);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#title
{
    font-family: pac0;
    text-align: center;

    width: 70em;
    margin: 0 auto;

    h1
    {
        color: $text_color;
        font-size: 6em;
        text-shadow: #776F87 4px 5px;
        animation: scale 3s infinite;

        padding-top: 1em;
    }

    p
    {
        color: $pacman;
        font-size: 4em;
        letter-spacing: 0.3em;
    }

    i
    {
        color: $pacman;
        font-size: 2em;
        text-align: end;
    }
}

.hidden
{
    display: none;
}

@keyframes scale
{
    0% { transform: scale(1); }
    50% { transform: scale(1.2); }
    100% { transform: scale(1); }
}

#cmd-toggle-btn
{
    // position: absolute;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1em;
    padding: 0.5em;
    border: none;
    border-radius: 0.5em;
    background-color: rgba(0, 0, 0, 0.3);
    color: $text_color;
    font-size: 1em;
    cursor: pointer;
    outline: none;
}

#terminal
{
    border: black 0.5em solid;
    border-radius: 2em;

    width: 70em;
    height: 30em;

    margin: 0 auto;
    margin-top: 3em;
    margin-bottom: 3em;

    background-color: rgba(0, 0, 0, 0.3);

    output
    {
        margin-bottom: 10px;
    }

    p
    {
        color: $pacman;
        font-size: 1em;
        margin: 1em;

        span
        {
            text-decoration: underline;
        }

        input
        {
            color: $text_color;
            caret-color: #FFC300;
            outline: none;
            font-size: 1em;

            background-color: transparent;
            border: none;
            color: white;
            font-family: monospace;
            margin: 0;
            padding: 0;
            width: 80%;
        }
    }
}

.description
{
    margin: 0 auto;

    article
    {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        gap: 3em;

        div
        {
            border: #FFFFFF 1px solid;
            border-radius: 1em;
            box-shadow: #776F87 4px 5px;
            padding: 1em;
            width: 15rem;
            height: 20rem;

            p
            {
                color: $text_color;
            }
        }
    }

    h2
    {
        color: $text_color;
        font-size: 2em;
        text-align: center;
    }
}

#section2
{
    padding-top: 4em;
}

#project
{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    
    grid-gap: 2em;
    margin-top: 3em;

    justify-items: center;
    align-items: center;

    div
    {
        width: 20rem;

        text-align: center;

        img
        {
            display: inline-block;
        }

        p
        {
            color: $text_color;
            text-align: start;
        }
    }
}

footer
{
    margin-top: 3em;

    article
    {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        gap: 1em;

        text-align: center;

        div
        {
            a
            {
                text-decoration: none;

                i
                {
                    font-size: 2em;
                    color: #FFFFFF;
                }
    
                p
                {
                    font-size: 1.5em;
                    color: $text_color;
                }
            }
        }

        :hover
        {
            p, i
            {
                color: $pacman;
            }

            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 1600px) 
{
    #title
    {
        width: 60em;

        h1
        {
            font-size: 5rem;
            padding-top: 1em;
        }
    }
}

@media screen and (max-width: 1200px)
{
    #title
    {
        width: 50em;

        h1
        {
            font-size: 4rem;
            padding-top: 1em;
        }
    }

    #terminal
    {
        width: 30em;
        height: 30em;

        p
        {
            input
            {
                width: 15em;
            }
        }
    }
}

@media screen and (max-width: 1000px)
{
    #title
    {
        width: 40em;

        h1
        {
            font-size: 4rem;
            padding-top: 1em;
        }
    }

    #project
    {
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }
}

@media screen and (max-width: 850px)
{

    #title
    {
        width: 40em;

        h1
        {
            font-size: 3rem;
            padding-top: 1em;
        }

        p
        {
            font-size: 2rem;
            letter-spacing: 0.3em;
        }
    }
}

// TODO : 
// Clean with mixins / extends ...
// Add some grid for projects
// Structure folder and files

#wrapper 
{
    border: 1px red solid;
    
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 4rem;
}